In [1]:
# 예제 4-1
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# 예제 4-2
# browser = webdriver.Chrome(‘c:/playwithdata/chromedriver.exe’)
browser = webdriver.Chrome('./driver/chromedriver')
url = 'https://www.istarbucks.co.kr/store/store_map.do?disp=locale'
browser.get(url)

In [3]:
# 예제 4-3
seoul_btn = '#container > div > form > fieldset > div > section > article.find_store_cont > article > article:nth-child(4) > div.loca_step1 > div.loca_step1_cont > ul > li:nth-child(1) > a'
browser.find_element_by_css_selector(seoul_btn).click()

In [4]:
# 예제 4-4
all_btn = '#mCSB_2_container > ul > li:nth-child(1) > a'
browser.find_element_by_css_selector(all_btn).click()

In [5]:
# 예제 4-5
html = browser.page_source
soup = BeautifulSoup(html, 'html.parser')

In [6]:
# 예제 4-6
starbucks_soup_list = soup.select('li.quickResultLstCon')
print(len(starbucks_soup_list))

501

In [7]:
# 예제 4-7
starbucks_soup_list[0]

<li class="quickResultLstCon" data-code="3762" data-hlytag="null" data-index="0" data-lat="37.501087" data-long="127.043069" data-name="역삼아레나빌딩" data-storecd="1509" style="background:#fff"> <strong>역삼아레나빌딩  <img alt="" class="setStoreFavBtn" data-my_siren_order_store_yn="N" data-name="역삼아레나빌딩" data-store="1509" data-yn="N" src="//image.istarbucks.co.kr/common/img/store/icon_fav_off.png"/></strong> <p class="result_details">서울특별시 강남구 언주로 425 (역삼동)<br/>02-568-3762</p> <i class="pin_general">리저브 매장 2번</i></li>

In [8]:
# 예제 4-8
startbucks_store = starbucks_soup_list[0]
name = startbucks_store.select('strong')[0].text.strip()
lat = startbucks_store['data-lat'].strip()
lng = startbucks_store['data-long'].strip()
store_type = startbucks_store.select('i')[0]['class'][0][4:]
address = str(startbucks_store.select('p.result_details')[0]).split('<br/>')[0].split('>')[1]
tel = str(startbucks_store.select('p.result_details')[0]).split('<br/>')[1].split('<')[0]

print(name)           # 매장명
print(lat)              # 위도
print(lng)             # 경도
print(store_type)       # 매장 타입
print(address)       # 주소
print(tel)       # 전화번호

역삼아레나빌딩
37.501087
127.043069
general
서울특별시 강남구 언주로 425 (역삼동)
02-568-3762

In [9]:
# 예제 4-9
starbucks_list = []
for item in starbucks_soup_list:
    name = item.select('strong')[0].text.strip();
    lat = item['data-lat'].strip()
    lng = item['data-long'].strip()
    store_type = item.select('i')[0]['class'][0][4:]
    address = str(item.select('p.result_details')[0]).split('<br/>')[0].split('>')[1]
    tel = str(item.select('p.result_details')[0]).split('<br/>')[1].split('<')[0]
    
    starbucks_list.append( [ name, lat, lng, store_type, address, tel])

In [10]:
# 예제 4-10
columns = ['매장명','위도','경도','매장타입', '주소','전화번호']
seoul_starbucks_df = pd.DataFrame(starbucks_list, columns = columns)
seoul_starbucks_df.head()

,매장명,위도,경도,매장타입,주소,전화번호
0,역삼아레나빌딩,37.501087,127.043069,general,서울특별시 강남구 언주로 425 (역삼동),02-568-3762
1,논현역사거리,37.510178,127.022223,general,서울특별시 강남구 강남대로 538 (논현동),02-3442-3672
2,국기원사거리,37.499517,127.031495,general,서울특별시 강남구 테헤란로 125 (역삼동),02-568-3668
3,대치대원빌딩R,37.494668,127.062583,reserve,서울특별시 강남구 남부순환로 2947 (대치동),02-568-3704
4,삼성역섬유센터R,37.507750,127.060651,reserve,서울특별시 강남구 테헤란로 518 (대치동),02-568-3648

In [11]:
# 예제 4-11
seoul_starbucks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 6 columns):
매장명     501 non-null object
위도      501 non-null object
경도      501 non-null object
매장타입    501 non-null object
주소      501 non-null object
전화번호    501 non-null object
dtypes: object(6)
memory usage: 23.6+ KB

In [12]:
# 예제 4-12
seoul_starbucks_df.to_excel('./files/4_1_seoul_starbucks_list.xlsx', index=False)