In [2]:
# 예제 4-13
import requests
import pandas as pd

In [3]:
# 예제 4-14
SEOUL_API_AUTH_KEY = '734*******************'

In [4]:
# 예제 4-15
url = 'http://openapi.seoul.go.kr:8088/{}/json/SdeTlSccoSigW/1/25'.format(SEOUL_API_AUTH_KEY)
print(url)

http://openapi.seoul.go.kr:8088/734d70734c726f6c3430504972534a/json/SdeTlSccoSigW/1/25

In [5]:
# 예제 4-16
result_dict = requests.get(url).json()
result_dict

{'SdeTlSccoSigW': {'list_total_count': 25,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'OBJECTID': 1.0,
    'SIG_CD': '11320',
    'SIG_KOR_NM': '도봉구',
    'SIG_ENG_NM': 'Dobong-gu',
    'ESRI_PK': 0.0,
    'LAT': '37.6658609',
    'LNG': '127.0317674'},
   {'OBJECTID': 2.0,
    'SIG_CD': '11380',
    'SIG_KOR_NM': '은평구',
    'SIG_ENG_NM': 'Eunpyeong-gu',
    'ESRI_PK': 1.0,
    'LAT': '37.6176125',
    'LNG': '126.9227004'},
   {'OBJECTID': 3.0,
    'SIG_CD': '11230',
    'SIG_KOR_NM': '동대문구',
    'SIG_ENG_NM': 'Dongdaemun-gu',
    'ESRI_PK': 2.0,
    'LAT': '37.5838012',
    'LNG': '127.0507003'},
   {'OBJECTID': 4.0,
    'SIG_CD': '11590',
    'SIG_KOR_NM': '동작구',
    'SIG_ENG_NM': 'Dongjak-gu',
    'ESRI_PK': 3.0,
    'LAT': '37.4965037',
    'LNG': '126.9443073'},
   {'OBJECTID': 5.0,
    'SIG_CD': '11545',
    'SIG_KOR_NM': '금천구',
    'SIG_ENG_NM': 'Geumcheon-gu',
    'ESRI_PK': 4.0,
    'LAT': '37.4600969',
    'LNG': '126.9001546'},
   {'OBJECTID': 6.0,
    'SIG_CD': '11530',
    'SIG_KOR_NM': '구로구',
    'SIG_ENG_NM': 'Guro-gu',
    'ESRI_PK': 5.0,
    'LAT': '37.4954856',
    'LNG': '126.858121'},
   {'OBJECTID': 7.0,
    'SIG_CD': '11110',
    'SIG_KOR_NM': '종로구',
    'SIG_ENG_NM': 'Jongno-gu',
    'ESRI_PK': 6.0,
    'LAT': '37.5990998',
    'LNG': '126.9861493'},
   {'OBJECTID': 8.0,
    'SIG_CD': '11305',
    'SIG_KOR_NM': '강북구',
    'SIG_ENG_NM': 'Gangbuk-gu',
    'ESRI_PK': 7.0,
    'LAT': '37.6469954',
    'LNG': '127.0147158'},
   {'OBJECTID': 9.0,
    'SIG_CD': '11260',
    'SIG_KOR_NM': '중랑구',
    'SIG_ENG_NM': 'Jungnang-gu',
    'ESRI_PK': 8.0,
    'LAT': '37.5953795',
    'LNG': '127.0939669'},
   {'OBJECTID': 10.0,
    'SIG_CD': '11680',
    'SIG_KOR_NM': '강남구',
    'SIG_ENG_NM': 'Gangnam-gu',
    'ESRI_PK': 9.0,
    'LAT': '37.4959854',
    'LNG': '127.0664091'},
   {'OBJECTID': 11.0,
    'SIG_CD': '11500',
    'SIG_KOR_NM': '강서구',
    'SIG_ENG_NM': 'Gangseo-gu',
    'ESRI_PK': 10.0,
    'LAT': '37.5657617',
    'LNG': '126.8226561'},
   {'OBJECTID': 12.0,
    'SIG_CD': '11140',
    'SIG_KOR_NM': '중구',
    'SIG_ENG_NM': 'Jung-gu',
    'ESRI_PK': 11.0,
    'LAT': '37.5579452',
    'LNG': '126.9941904'},
   {'OBJECTID': 13.0,
    'SIG_CD': '11740',
    'SIG_KOR_NM': '강동구',
    'SIG_ENG_NM': 'Gangdong-gu',
    'ESRI_PK': 12.0,
    'LAT': '37.5492077',
    'LNG': '127.1464824'},
   {'OBJECTID': 14.0,
    'SIG_CD': '11215',
    'SIG_KOR_NM': '광진구',
    'SIG_ENG_NM': 'Gwangjin-gu',
    'ESRI_PK': 13.0,
    'LAT': '37.5481445',
    'LNG': '127.0857528'},
   {'OBJECTID': 15.0,
    'SIG_CD': '11440',
    'SIG_KOR_NM': '마포구',
    'SIG_ENG_NM': 'Mapo-gu',
    'ESRI_PK': 14.0,
    'LAT': '37.5622906',
    'LNG': '126.9087803'},
   {'OBJECTID': 16.0,
    'SIG_CD': '11650',
    'SIG_KOR_NM': '서초구',
    'SIG_ENG_NM': 'Seocho-gu',
    'ESRI_PK': 16.0,
    'LAT': '37.4769528',
    'LNG': '127.0378103'},
   {'OBJECTID': 17.0,
    'SIG_CD': '11290',
    'SIG_KOR_NM': '성북구',
    'SIG_ENG_NM': 'Seongbuk-gu',
    'ESRI_PK': 17.0,
    'LAT': '37.606991',
    'LNG': '127.0232185'},
   {'OBJECTID': 18.0,
    'SIG_CD': '11350',
    'SIG_KOR_NM': '노원구',
    'SIG_ENG_NM': 'Nowon-gu',
    'ESRI_PK': 18.0,
    'LAT': '37.655264',
    'LNG': '127.0771201'},
   {'OBJECTID': 19.0,
    'SIG_CD': '11710',
    'SIG_KOR_NM': '송파구',
    'SIG_ENG_NM': 'Songpa-gu',
    'ESRI_PK': 19.0,
    'LAT': '37.5048534',
    'LNG': '127.1144822'},
   {'OBJECTID': 20.0,
    'SIG_CD': '11410',
    'SIG_KOR_NM': '서대문구',
    'SIG_ENG_NM': 'Seodaemun-gu',
    'ESRI_PK': 21.0,
    'LAT': '37.5820369',
    'LNG': '126.9356665'},
   {'OBJECTID': 21.0,
    'SIG_CD': '11470',
    'SIG_KOR_NM': '양천구',
    'SIG_ENG_NM': 'Yangcheon-gu',
    'ESRI_PK': 22.0,
    'LAT': '37.5270616',
    'LNG': '126.8561534'},
   {'OBJECTID': 22.0,
    'SIG_CD': '11560',
    'SIG_KOR_NM': '영등포구',
    'SIG_ENG_NM': 'Yeongdeungpo-gu',
    'ESRI_PK': 23.0,
    'LAT': '37.520641',
    'LNG': '126.9139242'},
   {'OBJECTID': 23.0,
    'SIG_CD': '11620',
    'SIG_KOR_NM': '관악구',
    'SIG_ENG_NM': 'Gwanak-gu',
    'ESRI_PK': 15.0,
    'LAT': '37.4653993',
    'LNG': '126.9438071'},
   {'OBJECTID': 24.0,
    'SIG_CD': '11200',
    'SIG_KOR_NM': '성동구',
    'SIG_ENG_NM': 'Seongdong-gu',
    'ESRI_PK': 20.0,
    'LAT': '37.5506753',
    'LNG': '127.0409622'},
   {'OBJECTID': 25.0,
    'SIG_CD': '11170',
    'SIG_KOR_NM': '용산구',
    'SIG_ENG_NM': 'Yongsan-gu',
    'ESRI_PK': 24.0,
    'LAT': '37.5311008',
    'LNG': '126.9810742'}]}}

In [6]:
# 예제 4-17
result_data = result_dict['SdeTlSccoSigW']

print(result_data['list_total_count'])
print(result_data['RESULT'])
print(result_data['row'][0])

25
{'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}
{'OBJECTID': 1.0, 'SIG_CD': '11320', 'SIG_KOR_NM': '도봉구', 'SIG_ENG_NM': 'Dobong-gu', 'ESRI_PK': 0.0, 'LAT': '37.6658609', 'LNG': '127.0317674'}

In [9]:
# 예제 4-18
data_list = result_data['row']
sample_df = pd.DataFrame(data_list)
sample_df.head()

In [10]:
# 예제 4-19
# 서울열린데이터광장 API 호출 키
SEOUL_API_AUTH_KEY = '734*************************'
# 서울열린데이터광장 OPEN API호출 공통 함수
def seoul_open_api_data(url, service):
    data_list = None
    try:
        result_dict = requests.get(url).json()
        result_data = result_dict[service]
        code = result_data['RESULT']['CODE']
        if code == 'INFO-000':
            data_list = result_data['row']
    except:
        pass
    return data_list

In [11]:
# 예제 4-20
sgg_url = 'http://openapi.seoul.go.kr:8088/{}/json/SdeTlSccoSigW/1/25'.format(SEOUL_API_AUTH_KEY)
sgg_data_list = seoul_open_api_data(url, 'SdeTlSccoSigW')
sgg_data_list[0]

{'OBJECTID': 1.0,
 'SIG_CD': '11320',
 'SIG_KOR_NM': '도봉구',
 'SIG_ENG_NM': 'Dobong-gu',
 'ESRI_PK': 0.0,
 'LAT': '37.6658609',
 'LNG': '127.0317674'}

In [12]:
# 예제 4-21
columns = ['SIG_CD','SIG_KOR_NM','LAT','LNG']
sgg_df = pd.DataFrame(data=sgg_data_list, columns=columns)
sgg_df.head()

  SIG_CD SIG_KOR_NM         LAT          LNG
0  11320        도봉구  37.6658609  127.0317674
1  11380        은평구  37.6176125  126.9227004
2  11230       동대문구  37.5838012  127.0507003
3  11590        동작구  37.4965037  126.9443073
4  11545        금천구  37.4600969  126.9001546

In [13]:
# 예제 4-22
sgg_df.columns = ['시군구코드','시군구명','위도','경도']
sgg_df.head()

   시군구코드  시군구명          위도           경도
0  11320   도봉구  37.6658609  127.0317674
1  11380   은평구  37.6176125  126.9227004
2  11230  동대문구  37.5838012  127.0507003
3  11590   동작구  37.4965037  126.9443073
4  11545   금천구  37.4600969  126.9001546

In [14]:
# 예제 4-23
sgg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
시군구코드    25 non-null object
시군구명     25 non-null object
위도       25 non-null object
경도       25 non-null object
dtypes: object(4)
memory usage: 928.0+ bytes

In [ ]:
# 예제 4-24
sgg_df.to_excel('./files/4_2_seoul_sgg_list.xlsx', index=False)

In [15]:
# 예제 4-25
pop_url = 'http://openapi.seoul.go.kr:8088/{}/json/octastatapi419/1/26/'.format(SEOUL_API_AUTH_KEY)
pop_data_list = seoul_open_api_data(pop_url, 'octastatapi419')

sgg_pop_df = pd.DataFrame(data=pop_data_list)

In [16]:
# 예제 4-26
sgg_pop_df.head()

,GIGAN,JACHIGU,SEDAE,GYE_1,NAMJA_1,YEOJA_1,GYE_2,NAMJA_2,YEOJA_2,GYE_3,NAMJA_3,YEOJA_3,SEDAEDANGINGU,N_65SEISANGGORYEONGJA
0,2018.1/4,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
1,2018.1/4,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,2018.1/4,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
3,2018.1/4,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
4,2018.1/4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752

In [17]:
# 예제 4-27
sgg_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 14 columns):
GIGAN                    26 non-null object
JACHIGU                  26 non-null object
SEDAE                    26 non-null object
GYE_1                    26 non-null object
NAMJA_1                  26 non-null object
YEOJA_1                  26 non-null object
GYE_2                    26 non-null object
NAMJA_2                  26 non-null object
YEOJA_2                  26 non-null object
GYE_3                    26 non-null object
NAMJA_3                  26 non-null object
YEOJA_3                  26 non-null object
SEDAEDANGINGU            26 non-null object
N_65SEISANGGORYEONGJA    26 non-null object
dtypes: object(14)
memory usage: 3.0+ KB

In [20]:
# 예제 4-28
condition = sgg_pop_df['JACHIGU'] != '합계'
sgg_pop_df_selected = sgg_pop_df[condition]
sgg_pop_df_selected.head()

,GIGAN,JACHIGU,SEDAE,GYE_1,NAMJA_1,YEOJA_1,GYE_2,NAMJA_2,YEOJA_2,GYE_3,NAMJA_3,YEOJA_3,SEDAEDANGINGU,N_65SEISANGGORYEONGJA
1,2018.1/4,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,2018.1/4,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
3,2018.1/4,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
4,2018.1/4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
5,2018.1/4,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470

In [22]:
# 예제 4-29
sgg_pop_df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1 to 25
Data columns (total 14 columns):
GIGAN                    25 non-null object
JACHIGU                  25 non-null object
SEDAE                    25 non-null object
GYE_1                    25 non-null object
NAMJA_1                  25 non-null object
YEOJA_1                  25 non-null object
GYE_2                    25 non-null object
NAMJA_2                  25 non-null object
YEOJA_2                  25 non-null object
GYE_3                    25 non-null object
NAMJA_3                  25 non-null object
YEOJA_3                  25 non-null object
SEDAEDANGINGU            25 non-null object
N_65SEISANGGORYEONGJA    25 non-null object
dtypes: object(14)
memory usage: 2.9+ KB

In [23]:
# 예제 4-30
columns = ['JACHIGU', 'GYE_1']
sgg_pop_df_final = sgg_pop_df_selected[columns]

In [ ]:
# 예제 4-31
sgg_pop_df_final.head()

In [24]:
# 예제 4-32
sgg_pop_df_final.columns = ['시군구명', '주민등록인구']
sgg_pop_df_final.head()

  시군구명  주민등록인구
1  종로구  164348
2   중구  135139
3  용산구  245411
4  성동구  314551
5  광진구  371671

In [25]:
# 예제 4-33
sgg_pop_df_final.to_excel('./files/4_3_sgg_pop.xlsx', index=False)

In [26]:
# 예제 4-34
biz_url = 'http://openapi.seoul.go.kr:8088/{}/json/octastatapi104/1/450/'.format(SEOUL_API_AUTH_KEY)
biz_data_list = seoul_open_api_data(biz_url, 'octastatapi104')

sgg_biz_df = pd.DataFrame(biz_data_list)
sgg_biz_df.head(10)

,GIGAN,JACHIGU,DONG,SAEOPCHESU_1,YEOSEONGDAEPYOJA,GYE,NAM,YEO,SAEOPCHESU_2,JONGSAJASU_1,...,JONGSAJASU_4,SAEOPCHESU_6,JONGSAJASU_5,SAEOPCHESU_7,JONGSAJASU_6,SAEOPCHESU_8,JONGSAJASU_7,SAEOPCHESU_9,JONGSAJASU_8,SAEOPCHESU_10
0,2015,합계,합계,820658,272567,5108828,2887719,2221109,17,491,...,8713,463,6712,22695,360192,234494,912406,93642,279921,126785
1,2015,종로구,소계,40871,13472,269106,152766,116340,1,16,...,387,9,179,358,25269,17447,46970,1418,7841,6635
2,2015,종로구,사직동,3551,1092,51425,29781,21644,1,16,...,2,2,32,38,4158,563,4074,280,2281,856
3,2015,종로구,삼청동,738,354,4736,2374,2362,-,-,...,-,-,-,6,15,273,864,20,84,261
4,2015,종로구,부암동,540,224,3635,1714,1921,-,-,...,-,-,-,22,53,104,523,33,37,125
5,2015,종로구,평창동,665,298,3059,1438,1621,-,-,...,-,-,-,18,84,129,458,34,123,155
6,2015,종로구,무악동,581,121,1510,804,706,-,-,...,-,-,-,9,79,59,158,344,354,38
7,2015,종로구,교남동,320,103,3158,1342,1816,-,-,...,-,-,-,9,40,69,247,32,72,62
8,2015,종로구,가회동,755,368,12215,8804,3411,-,-,...,-,-,-,11,5446,172,395,23,40,243
9,2015,종로구,종로1.2.3.4가동,16072,5081,110407,64972,45435,-,-,...,383,4,54,88,13977,7627,19952,176,1947,2304

In [27]:
# 예제 4-35
condition = sgg_biz_df['DONG'] == '소계'
sgg_biz_df_selected = sgg_biz_df[condition]
sgg_biz_df_selected.head(10)

,GIGAN,JACHIGU,DONG,SAEOPCHESU_1,YEOSEONGDAEPYOJA,GYE,NAM,YEO,SAEOPCHESU_2,JONGSAJASU_1,...,JONGSAJASU_4,SAEOPCHESU_6,JONGSAJASU_5,SAEOPCHESU_7,JONGSAJASU_6,SAEOPCHESU_8,JONGSAJASU_7,SAEOPCHESU_9,JONGSAJASU_8,SAEOPCHESU_10
1,2015,종로구,소계,40871,13472,269106,152766,116340,1,16,...,387,9,179,358,25269,17447,46970,1418,7841,6635
19,2015,중구,소계,66190,24249,423808,234337,189471,-,-,...,1048,8,159,451,7364,34785,100132,1666,16214,6142
35,2015,용산구,소계,21178,7030,133446,76287,57159,-,-,...,55,12,167,440,7483,7714,30638,1292,4458,4245
52,2015,성동구,소계,26130,7617,162019,97243,64776,-,-,...,816,31,439,661,6049,7090,31229,2641,7832,3494
70,2015,광진구,소계,24531,8627,123689,69279,54410,-,-,...,93,16,145,836,10047,6214,20209,2511,7399,4555
86,2015,동대문구,소계,32994,10813,143858,77571,66287,-,-,...,1,17,134,777,6390,11740,33122,3600,7362,5101
101,2015,중랑구,소계,27287,8952,99241,51968,47273,-,-,...,105,19,208,906,5146,5540,16872,6225,12937,4010
118,2015,성북구,소계,24690,8883,113893,57411,56482,-,-,...,6,16,184,594,3894,5453,16944,3601,6921,4411
139,2015,강북구,소계,18654,6738,69787,33584,36203,-,-,...,206,8,149,481,2018,3976,10676,3131,6539,3667
153,2015,도봉구,소계,18455,6142,68669,36066,32603,1,1,...,-,12,119,493,2832,3667,11499,4786,9675,2675

In [ ]:
# 예제 4-36
columns = ['JACHIGU', 'GYE', 'SAEOPCHESU_1']
sgg_biz_df_final = sgg_biz_df_selected [columns]
sgg_biz_df_final.columns = ['시군구명', '종사자수','사업체수']
sgg_biz_df_final.head()

In [ ]:
# 예제 4-37
sgg_biz_df_final = sgg_biz_df_final.reset_index(drop=True)
sgg_biz_df_final.head()

In [ ]:
# 예제 4-38
sgg_biz_df_final.to_excel('./files/4_3_sgg_biz.xlsx', index=False)